body {
    background-color:#e2caca;
     
}
/***************************My Frame Work *****************/
* {
    max-width: 100%;
}

/****************header**************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999999;
}



.nav-link {
    color: #fc3dce;
}
/*.title{

    margin-bottom:150px;

}*/
.btn-outline-success {
    color: #302727;
    background-color: #d81d66;
    border-color: #302727;
}

    .btn-outline-success:hover {
        color: #302727;
        background-color: #d81d66;
        background-color: #d81d66;
        border-color: #302727;
    }

    .btn-outline-success:active {
        color: #302727;
        background-color: #d81d66;
        background-color: #d81d66;
        border-color: #302727;
    }

    .btn-outline-success:focus {
        color: #302727;
        background-color: #d81d66;
        background-color: #d81d66;
        border-color: #302727;
    }

.navbar-dark .navbar-nav .nav-link {
    color: #d81d66;
    font-size: large;
    font-family: monospace;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #d81d66;
}

/**************************Breadcrumb************************/

.breadcrumb {
    background-color: #d09acc;
    
}

a{
    color:#d81d66
}
/**************************project******************/
.viewprojects{
    background-color:#e2caca;
    height:500px;
}
.img-fluid{
    margin-bottom:0;
    padding:0;
}



.col-md-2 {
    display: inline;
}

.Productsofprojects{
    text-align:center;
      text-transform: uppercase;
  color:#090909;
    margin-bottom:50px;
    position: relative
}
.Productsofprojects:before{
    content:"";
        position: absolute;
        bottom:-14px;
        left:50%;
        width: 200px;
        height:2px;
        background:#d81d66;
        transform: translateX(-50%)
}
.Productsofprojects:after{
    content: "";
        position: absolute;
        bottom: -23px;
        left: 50%;
        width: 20px;
        height: 20px;
        border: 4px solid #fff;
        background:#d81d66;
        transform: translateX(-50%)
}

.linksofprojects{
    text-align:center;
    margin-right:25px;
}


/*****************footer************************/
.mb-0 {
    font-size: larger;
    margin-top: 10px;
}

/*#d81d66;*/
.footer-pragraph {
    color: #e278a1;
    font-size: larger;
}

.Products {
    color: #d81d66;
}

.list {
    color: #e278a1;
}

.notes {
    color: #d81d66;
}

.copyright {
    color: #f7d8e4;
}

.list-1:before{
    content:" .. ";
  
}

.list-1:after{
    content:" .. "
}
.footer-icon {
    color: #d81d66;
}

    .footer-icon:hover {
        color: black;
    }